<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>電影售票系統</title>
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/header2.css">
</head>
<body>
    <nav class="head">
        <img src="/static/image/camera.png" alt="error">
        <a href="{% url 'searchMovie'%}">電影處理</a>
        <a href="{% url 'searchTicket'%}">會員購票紀錄</a>
        <a href="{% url 'searchMember'%}">會員資料</a>
        <a>帳號中心</a>
        <a>聯絡資訊</a>
    </nav>

    
</body>
</html>