{% extends 'base2.html' %}
{% block content %}
    <form method="get">
        <div>
            {{ movieFilter.form.search_type }}
            {{ movieFilter.form.search_text }}
            <button type="submit">Search</button>
        </div>
    </form>

    <div>
        {% for movie in movieFilter.qs %}
            <li>{{ movie.movie_name }} - {{ movie.date }} - {{ movie.type }} - <a href="{% url 'showMovie' movie.movie_no %}">views</a> - <a href="{% url 'deleteMovie' movie.movie_no%}">delte</a></li>
        {% empty %}
            <li>No movies found.</li>
        {% endfor %}
    </div>
{% endblock %}
