{% extends 'base2.html' %}
{% block headmessage %}
<div class="main-content" style="text-align:center; align-items:center; justify-content: center; display: flex;">
   <p style="font-size: 30px;margin: 0; height: 70px;text-align: center; display: flex;align-items: center; ">會員購票紀錄</p>
</div>
{% endblock %}
{% block content %}

    <form method="POST" action="{% url 'searchTicket' %}">
        {% csrf_token %}
        <strong for="member_no">會員編號:</strong>
        <input type="text" id="member_no" name="member_no" required>
        <button type="submit">搜尋</button>
    </form>
    
    {% if member_info %}
        <p>會員帳號: {{ member_info.member_account }}</p>
        {% for ticket in member_info.tickets %}
            <p>電影名稱: {{ ticket.movie_name }}</p>
            <p>電影場次: {{ ticket.session }}</p>
            <p>票卷張數: {{ticket.ticket_amount}}</p>
            <p>付款方式: {{ ticket.payment_method }}</p>
        {% endfor %}
        

        

    {% elif member_info is not None %}
        <p>No member found with the provided member number.</p>
    {% endif %}
    {% endblock %}