<!-- templates/search_ticket.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Ticket</title>
</head>
<body>
    <h1>會員購票紀錄</h1>
    <form method="POST" action="{% url 'searchTicket' %}">
        {% csrf_token %}
        <strong for="member_no">會員編號:</strong>
        <input type="text" id="member_no" name="member_no" required>
        <button type="submit">搜尋</button>
    </form>
    
    {% if member_info %}
        <p>會員帳號: {{ member_info.member_account }}</p>
        {% for ticket in member_info.tickets %}
            <p>電影名稱: {{ ticket.movie_name }}</p>
            <p>電影場次: {{ ticket.session }}</p>
            <p>票卷張數: {{ticket.ticket_amount}}</p>
            <p>付款方式: {{ ticket.payment_method }}</p>
        {% endfor %}
        

        

    {% elif member_info is not None %}
        <p>No member found with the provided member number.</p>
    {% endif %}
</body>
</html>
