{% extends 'base.html' %}
{% block content %}
<table class="table table-hover">
  <thead>
    <tr background="#cccccc">
        <th>上映日期</th>
        <th>導演</th>
        <th>演員</th>   
        <th>類型</th>
        <th>劇情片長</th>
        <th>放映場次</th>
        <th>圖片</th>
    </tr>
  </thead>
{{ movie.movie_name }}
  <tbody>
    <tr background='{% cycle "#ffccff" "#ccffcc" %}'>
      <td>{{ movie.date }}</td>
      <td>{{ movie.director }}</td>
      <td>{{ movie.actor }}</td>
      <td>{{ movie.type }}</td>
      <td>{{ movie.length }}</td>
      <td>
          {% for session in ses %}
            <a>{{ session.session }}</a>
          {% endfor %}
      </td>
      <td><img src="{{ movie.picture }}" height=250px></td>
      <td>{{ movie.get_show_display  }}</td>
      <td><a href="{% url 'editMovie' movie.movie_no %}">edit</a></td>
    </tr>
  </tbody>
</table>
{% endblock content %}