{% extends 'base2.html' %}
{% block content%}
<form method="post">
    {% csrf_token %}
    <label for="movie">電影:</label>
    <select id="movie" name="movie">
        {% for movie in movies %}
            <option value="{{ movie.pk }}">{{ movie.movie_name }}</option>
        {% endfor %}
    </select>
    
    <label for="session">場次：</label>
    <input type="text" id="session" name="session" required>
    
    <input type="submit" class="btn btn-outline-success" value="新增">
</form>
{% endblock content %}